body {
    background-color: var(--primary_page_background);
}

#form_section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#success_message {
    text-align: center;
    color: darkgreen;
}
