:root {
    --primary_page_background: black;
    --primary_element_background: darkorange;
    --primary_text_color_1: darkorange;
    --primary_text_color_2: black;
    --element_hover_background_color: darkblue;
    --element_hover_text_color: white;
    --primary_border_color_1: darkorange;
    --primary_border_color_2: black;
    --secondary_matching_color: rgb(88, 86, 86);
}
/*
--primary_page_background
--primary_element_background
--primary_text_color_1
--primary_text_color_2
--element_hover_background_color
--element_hover_text_color
--primary_border_color_1
--primary_border_color_2
--secondary_matching_color
*/

p {
    font-family: Sans-Serif;
}

h1 {
    font-family: Sans-Serif;
}

h2 {
    font-family: Sans-Serif;
}

h3 {
    font-family: Sans-Serif;
}

h4 {
    font-family: Sans-Serif;
}

a {
    font-family: Sans-Serif;
}

label {
    font-family: Sans-Serif;
}

input {
    font-family: Sans-Serif;
}


