/* ### for the page body ### */
body {
    background-color: lightgray; /* make the background of the page body light gray */
}

/* ### for the message contents section ### */
/* for the message contents container */
#message_contents {
    width: 60%; /* set the maximum width to 60% of the maximum width */
    margin-left: auto; /* center horizontally*/
    margin-right: auto; /* center horizontally*/
    background-color: orange; /* set the background color to orange */
    padding: 10px; /* add 10px of visible space to each side */
}
/* for the message header */
#message_contents > h1 {
    text-align: center; /* center horizontally */
}
/* for the message text/sub-header */
#message_contents > h2 {
    text-align: center; /* center horizontally */
}