body {
    background-color: var(--primary_page_background);
}

#page_content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: var(--primary_text_color_1);
}

h1 {
    color: var(--primary_text_color_1);
}

h2 {
    color: var(--primary_text_color_1);
}

h3 {
    color: var(--primary_text_color_1);
}

h4 {
    color: var(--primary_text_color_1);
}

a {
    color: var(--primary_text_color_1);
}