body {
    background-color: var(--primary_page_background);
}

#video_section {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-width: 2px;
    border-color: var(--secondary_matching_color);
    margin-top: 5px;
    margin-bottom: 5px;
}

#info_section {
    border-style: solid;
    border-left: none;
    border-right: none;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    border-color: var(--primary_border_color_1);
    border-width: 2px;
}

#info_section iframe {
    display: block;
    width: 100%;
    height: 60px; /* change the height to smallest value that results in no scrollbar appearing */
    border: none;
}

#info_section p {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#info_section h1 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#info_section h2 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#info_section h3 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#info_section h4 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#recommendation_section {
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: var(--secondary_matching_color);
    border-width: 2px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#recommendation_section p {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#recommendation_section h1 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#recommendation_section h2 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#recommendation_section h3 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#recommendation_section h4 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#recommendation_section a {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#comments_section {
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: var(--secondary_matching_color);
    border-width: 2px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#comments_section p {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#comments_section h1 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#comments_section h2 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#comments_section h3 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#comments_section h4 {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

#comments_section button {
    color: var(--primary_text_color_1);
    margin-top: 2px;
    margin-bottom: 2px;
}

@media (max-width: 1300px) {
    #video_section {
        width: 70%;
    }
    #info_section {
        width: 70%;
    }
    #recommendation_section {
        width: 70%;
    }
    #comments_section {
        width: 70%;
    }
}

@media (max-width: 1100px) {
    #video_section {
        width: 80%;
    }
    #info_section {
        width: 80%;
    }
    #recommendation_section {
        width: 80%;
    }
    #comments_section {
        width: 80%;
    }
}